.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
  }
  
  .logo h1 {
    font-size: 24px;
    margin: 0;
  }
  

  .auth a {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    margin-left: 20px;
  }
  
  .auth a:hover {
    color: red;
  }
  