<div class="body-content">
	<div class="container">
		<div class="sign-in-page">
			<div class="row">

				<div class="col-md-6 col-xl-12 col-sm-6 sign-in ">
					<h4 class="">Login User</h4>
					<p class="">Hello, Welcome to your account.</p>
					<form [formGroup]="signupForm" (ngSubmit)="signinfun()" class="register-form outer-top-xs"
						role="form">
						<div class="form-group">
							<label class="info-title" for="exampleInputEmail1">Email Address <span>*</span></label>
							<input type="email" id="email exampleInputEmail1"  class="form-control unicase-form-control text-input" formControlName="email" placeholder="email">
							<div *ngIf="signupForm.controls['email'].touched && signupForm.controls['email'].invalid">
								<p class="validationmessage" *ngIf="signupForm.controls['email'].errors?.['required']">
									email
									Name is
									required.</p>
								<p class="validationmessage" *ngIf="signupForm.controls['email'].errors?.['email']">
									email is not
									valid.
								</p>
							</div>
						</div>


						<div class="form-group">
							<label class="info-title" for="exampleInputPassword1">Password <span>*</span></label>
							<input type="password" id="exampleInputPassword1" class="form-control unicase-form-control text-input" formControlName="password"
								placeholder="Enter your password">
							<div
								*ngIf="signupForm.controls['password'].touched && signupForm.controls['password'].invalid">
								<p class="validationmessage"
									*ngIf="signupForm.controls['password'].errors?.['required']">Required</p>
								<p class="validationmessage"
									*ngIf="signupForm.controls['password'].errors?.['pattern']">Password must contain at
									least one digit, one capital letter, and be at least 8 characters long.
								</p>
							</div>
						</div>


						<div class="radio outer-xs">
							<label>
								<input type="radio" name="optionsRadios" id="optionsRadios2" value="option2">Remember
								me!
							</label>
							<div>
								<!-- <a href="#" class="forgot-password ">Forgot your Password? </a> -->
							</div>
							<span class="pull-right" style="color: green;">New member? <a href="#"
									class="forgot-password " routerLink="/signUp"> Register here</a></span>
						</div>
						<button type="submit" class="btn-upper btn btn-primary checkout-page-button">Login</button>
					</form>
				</div>

			</div>
		</div>
	</div>
</div>